<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class = "AS_form">

Please Log in
<%= form_tag do %>
<fieldset>
<div>
<%= label_tag :id_number, 'id_number:' %>
<%= text_field_tag :id_number, params[:id_number] %>
</div>
<div>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password] %>
</div>
<div>
<%= submit_tag "login" %>
</div>
</fieldset>
<% end %>


</div>
