<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<div id="going_to">
<h2> You are going to </h2>
<ul>
	<% @student.attendances.each do |item| %>
	<li><%= item.event.module %></li><%= button_to 'Cancel', attendance_path(item.id), method: :delete %>
	<% end %>
</ul>


</div>
