<% if Teacher.find_by_id_number(session[:id_number]) === event.id_number %>
<% me = true %>
<%else %>
<% me = nil %>
<% end %>

<table class="info_table">
<tr class = "module_row">
	<td class = "first_col"> Module </td>
	<td class = "entry_col"> <%= event.module %> </td>
</tr>
<tr class = "catagory_row">
	<td class = "first_col" id ="a11"> Category </td>
	<td class = "entry_col"> <%= event.category %> </td>
</tr>
<tr class = "supervisor_row">
	<td class = "first_col"> Supervisor</td>
	<td class = "entry_col"> <%= Teacher.find_by_id_number(event.id_number).name %> </td>
</tr>
<tr class = "day_row">
	<td class = "first_col"> Day</td>
	<td class = "entry_col"> <%= event.day %> </td>
</tr>
<tr class = "time_row">
	<td class = "first_col"> Date</td>
	<td class = "entry_col"> <%= event.time.to_formatted_s(:time) %> </td>
</tr>
<tr class = "duration_row">
	<td class = "first_col"> Duration </td>
	<td class = "entry_col"> <%= event.duration.to_formatted_s(:time) %> </td>
</tr>

<tr>
	<td><%= button_to 'who\'s going?', event_path(event.id), :method => :get %></td>
	<% if session[:id] %>
	<td><%= button_to 'going', attendances_path(event_id: event.id), remote: true %> </td>
	<% else %>
	<td></td>
	<% end %>
	<% if me %>
	<td><%= button_to 'edit', events_path(event.id), method: :get%> </td>
	<td><%= button_to 'delete', events_path(event.id), method: :delete%> </td>
	<% end %>
</tr>
</table>
