<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :module %><br>
    <%= f.text_field :module %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.select :day, %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday)%> ##expert skill here!!!!!!!!!!!
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time, start_hour: 9, end_hour: 17, start_minute: 0, discard_minute: true %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.time_select :duration, end_hour: 4, minute_step: 15%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
