<p id="notice"><%= notice %></p>

<p>
  <strong>Module:</strong>
  <%= @event.module %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @event.supervisor %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>


<table>
	<% @event.attendances.each do |item| %>
	<tr><td><%= item.student.name %></td><td><%= button_to 'Kick out',event_path(event_id: item.id) , :method => :delete %></td></tr>
	<% end %>
</table>

